In [15]:
import findspark
findspark.init('/home/shashank/spark-2.3.2-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [16]:
data_schema = [StructField('age', IntegerType(), True),
                StructField('name', StringType(), True)]

In [17]:
final_struct = StructType(fields=data_schema)

In [18]:
df = spark.read.json('Spark_DataFrames/people.json', schema=final_struct)

In [19]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [20]:
df['age']

Column<b'age'>

In [21]:
type(df['age']) #column object

pyspark.sql.column.Column

In [24]:
df.select('age')

DataFrame[age: int]

In [25]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [26]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [27]:
df.head(2)[0]

Row(age=None, name='Michael')

In [28]:
type(df.head(2)[0]) #row object - there is a row object besides a column object in the data frame

pyspark.sql.types.Row

In [32]:
#Multiple columns
df.select(['age', 'name']).show() #list of column names

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
#Add a column
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [35]:
df.withColumn('doubleage',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [36]:
#The changes are not permanent
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
df1 = df.withColumn('doubleage',df['age']*2) #define it as a new df object to add permanently

In [41]:
df1.show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [43]:
#Rename
df1.withColumnRenamed('doubleage', 'newage').show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

# SQL

In [45]:
df.createOrReplaceTempView('people') #people is a temporary SQL view.

In [47]:
results = spark.sql("SELECT * FROM people")

In [49]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [51]:
results = spark.sql("SELECT * FROM people WHERE age = 30").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+