# Part One

**Data Structures**

In [1]:
print("My name is {}".format("Shashank")) #important during functions

My name is Shashank

In [2]:
print("My name is {}, My number is {}".format("Shashank", "10"))

My name is Shashank, My number is 10

In [3]:
print("First: {x}, Second: {y}".format(x="xxx", y="yyy"))

First: xxx, Second: yyy

In [4]:
x = ['Shashank', 'Aditi', 'Nikunj', 'Amrinder']
y = ['10', '20', '30', '40']
for i in range(0,4,1):
    print("My name is {}, My number is {}".format(x[i], y[i]))

My name is Shashank, My number is 10
My name is Aditi, My number is 20
My name is Nikunj, My number is 30
My name is Amrinder, My number is 40

In [5]:
x[-1]

'Amrinder'

In [6]:
x[1] = 'Abhishek'
x

['Shashank', 'Abhishek', 'Nikunj', 'Amrinder']

In [7]:
x.append('Aditi')
x

['Shashank', 'Abhishek', 'Nikunj', 'Amrinder', 'Aditi']

In [8]:
#nested list
my_list = [x,y]
my_list

[['Shashank', 'Abhishek', 'Nikunj', 'Amrinder', 'Aditi'],
 ['10', '20', '30', '40']]

In [9]:
my_list[1][3] #call 4th element of the second nested list

'40'

In [10]:
#Tuples 
#immutable - can't reassign objects
t = (1,2,3)

In [11]:
#set
#Unordered collection of unique objects
#kind of like a dictionary without a key value

{1,2,3,3,21,1,2}

{1, 2, 3, 21}

# Part Two

**Comparison and Logical Operators**

In [12]:
# Comparision Operators
1 > 2

False

In [13]:
# <= , >=, ==, !=
'a' == 'a'

True

In [14]:
'a' == 'A'

False

In [15]:
#Logic Operators
(1==1) and ('a'=='a')

True

**if, else, and elif**

In [16]:
# If, Elif
if 1==1:
    print('yeah!')

yeah!

In [17]:
(1==1) or ('a'!='a') and ('b' != 2)

True

In [18]:
if 1==2:
    print('No!')
else:
    print('Why not?!')

Why not?!

In [19]:
if 3==2:
    print('No!')
elif 5==5:
    print('Finally!')
else:
    print('Why not?!')

Finally!

**For Loops**

In [20]:
seq = [1,2,3,4,5]
for i in seq:
    print(i*5+7)

12
17
22
27
32

In [21]:
seq = [1,2,3,4,5]
for i in seq:
    print('hi {}'.format(i*5+7))

hi 12
hi 17
hi 22
hi 27
hi 32

**While Loops**

In [22]:
i = 1
while i <= 5:
    print('I love Stephen Colbert')
    i = i+0.5

I love Stephen Colbert
I love Stephen Colbert
I love Stephen Colbert
I love Stephen Colbert
I love Stephen Colbert
I love Stephen Colbert
I love Stephen Colbert
I love Stephen Colbert
I love Stephen Colbert

In [23]:
i = 1
while i <= 5:
    print('I puck Stephen Colbert for {} dollars'.format(i*5+7))
    i = i+1

I puck Stephen Colbert for 12 dollars
I puck Stephen Colbert for 17 dollars
I puck Stephen Colbert for 22 dollars
I puck Stephen Colbert for 27 dollars
I puck Stephen Colbert for 32 dollars

**Range**

In [24]:
range(1,11,1)

range(1, 11)

In [25]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
for i in range(5):
    print('hello there, number {}!'.format(i))

hello there, number 0!
hello there, number 1!
hello there, number 2!
hello there, number 3!
hello there, number 4!

In [27]:
for i in list(range(1,5,1)):
    print('hello there, number {}!'.format(i))

hello there, number 1!
hello there, number 2!
hello there, number 3!
hello there, number 4!

**List Comprehension**

In [28]:
x = [1,2,3,4,5]
y = []
for i in x:
    y.append(i**3)

print(y)

[1, 8, 27, 64, 125]

In [29]:
#Convert the above for loop into list comprehension
y = [i**3 for i in x]
y

[1, 8, 27, 64, 125]

**Functions**

In [30]:
def my_func():
    print('hello')

In [32]:
my_func

In [33]:
my_func()

hello

In [35]:
def my_func(i):
    print('hello '+i)

In [36]:
my_func('Shashank')

hello Shashank

In [38]:
def my_func(i = 'no name'):
    print('hello '+i)

In [39]:
my_func()

hello no name

In [40]:
my_func('Shashank')

hello Shashank

In [41]:
#insert docstring to explain what the function is doing
def my_func(i = 'no name'):
    '''
    This is a greeting!
    '''
    print('hello '+i)

In [42]:
#shift-tab
my_func()

hello no name

In [43]:
def square(x):
    return x**2

In [44]:
square(5)

25

**Lambda Functions** <br>
Anonymous functions or functions that you intend to use only one time.

In [48]:
lambda var: var*2

**Methods**

In [49]:
st = 'Hello, my name is Shashank'
st.lower()

'hello, my name is shashank'

In [50]:
st.upper()

'HELLO, MY NAME IS SHASHANK'

In [51]:
st.split()

['Hello,', 'my', 'name', 'is', 'Shashank']

In [54]:
st.split('h')

['Hello, my name is S', 'as', 'ank']

In [55]:
st.lower().split('h')

['', 'ello, my name is s', 'as', 'ank']

In [56]:
st.split('h')[0] #get specific elements of the split

'Hello, my name is S'

In [57]:
#Pop something out of a list
mylist = [1,2,3]
last = mylist.pop()
last

3

In [58]:
mylist

[1, 2]

In [59]:
mylist = [1,2,3]
first = mylist.pop(0)
first

1

In [60]:
mylist

[2, 3]

In [61]:
#Check if an element is in a list
1 in mylist

False

In [62]:
2 in mylist

True